@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    font-weight: bold;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(images/back.jpg);
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 20px 30px;
}

.head {
    display: flex;
}
.list{
    display: flex;
    align-items: center;
}
.list a {
    text-decoration: none;
    padding: 20px;
    color: white;
}

.list i {
    color: white;
}

.list i:hover {
    transform: scale(1.2);
}

.list i:active {
    color: black;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    
}



.head h1:hover {
    color:#29f700;
    transition: 1s;
}
.list li{
    display: inline-block;
}
.list li:hover {
    transform: scale(1.2);
}

.list a:hover {
    color: #29f700;
    text-decoration: underline #29f700 3px 2px;
    border-bottom: 1px #29f700 solid;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    margin:40px auto;
    color: aliceblue;
    opacity:0.8;
    width:25rem;
    height:fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgba(201, 203, 230, 0.37);
    border-radius: 30px;
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);
}
.login h1{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-shadow: 2px 2px rgba(0,0,0);
    letter-spacing: 3px;
    margin:10px;
}
label{
    color: white;
    font-size: 20px;
    margin-left: 10%;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
input{
    width:80%;
    margin:5% auto;
    padding:7px 14px;
    border-radius: 6px;
    font-family:'Poppins',sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: aliceblue;
    background:transparent;
    border:none;
    border-bottom:white 1px solid;
    display: block;
}
input:hover{
    background-color:rgba(255,255,255,.3);
}
.login button{
    width:50%;
    font-family: 'Poppins',sans-serif;
    margin:3% auto;
    color: white;
    font-size: 15px;
    background:rgba(201, 203, 230, 0.37);
    padding: 10px 30px;
    border:none;
    border-radius: 10px;

}
.login button:hover{
    box-shadow:2px 2px 4px rgba(239, 234, 234, 0.584);
}
.login a{
    margin-left:14%;
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
}
.login select{
    width:87%;
    margin:5% 6%;
    background-color:transparent;
    border: none;
    border-radius:10px;
    border-bottom: white 1px solid;
    padding:7px 14px;
    font-family:'Poppins',sans-serif;
    color: aliceblue;
}
.login select:hover{
    background-color: rgba(201, 203, 230, 0.37);
}
.login select option{
    background-color:transparent;
    border:none;
    border-bottom:#29f700 2px solid;
    color: black;
}
.logingoogle{
    display: flex;
}
.logingoogle>div:hover{
    color:white;
    opacity:1;
    box-shadow:2px 2px 4px rgba(239, 234, 234, 0.584);
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:25px 32px;
    padding:0 10px;
    background-color:rgba(201, 203, 230, 0.37);
    border-radius: 10px;
    color: aliceblue;
    cursor: pointer;
}
.google img{
    width: 35px;
    height: 35px;
    padding: 5px;
}
.login .sign{
    margin-bottom:25px;
}

.login .sign a:hover{
    color: #29f700;
    transition: 1s;
}
.form-control.success input{
    border-color: #29f700;
    border-width: 2px;
}
.form-control small{
    padding:0 15%;
}
.form-control.error input{
    border-color: red;
}
.form-control small{
    color: red;
    visibility:hidden;
}
.form-control.error small{
    visibility: visible;
}
.form-control i{
    padding-top:5px;
    padding-left:2%;
    visibility: hidden;
    position: absolute;
}
.form-control.success .fa-circle-check{
    color: #29f700;
    visibility: visible;
}
.form-control.error .fa-circle-exclamation{
    color: red;
    visibility: visible;
}
@media (max-width:768px){
    .header ul{
        position:fixed;
        left:0;
        width:100%;
        height:fit-content;
        background-color: rgb(31, 232, 31);
        top:110px;
        text-align: center;
        padding: 0;
        left:-100%;
        transition: 2s;
        border-radius: 10px;
        z-index: 2;
    }
    .header ul.slide{
        left:0;
        transition: 2s;
    }

    .header ul li{
        display: block;
        border: none;
        width:100%;
        margin:0;
        padding: 20px 10px;
    }
    .header ul li:hover{
        background:black; 
        text-decoration: underline aliceblue;
        border:inset #29f700 1px;
        width: 96%;
        transform: none;
    }
    .header ul li:hover a{
        color: aliceblue;
    }
    .header ul li a{
        color:black;
        border:none;
    }
    .hamburger{
        float: right;
        padding: 12px 20px;
        cursor: pointer;
    }
    .hamburger .line{
        width:25px;
        height:5px;
        background-color: white;
        margin-bottom: 5px;
        display: block;
    }
    form{
        align-items: center;
        justify-content: center;
    }
    .login{
        width: 20rem;
        height:fit-content;
    }
    .google{
        width:80%;
        padding: 0;
        margin:20px;
    }
    .form-control small{
        padding: 0 25px;
    }
    .form-control i{
        padding:auto 10px;
    }
}
@media (max-width:320px){
    .header h1{
        margin-left: 0;
        margin-right: 10px;
    }
    .header .hamburger{
        padding-right:0;
        padding-left: 10px;
        margin-left:10px;
    }
    .login{
        width:90%;
    }
    .login h1{
        font-size:40px;
        margin:20px;
    }
    .login label{
        font-size:15px;
        margin-top:10px;
    }
    .login a{
        font-size:12px;
    }
    .login button{
        width:40%;
    }
    .google{
        margin:25px 15px;
        font-size:13px;
    }
    .google img{
        width:25px;
        height: 25px;
    }
    .form-control i{
        padding-left:8%;
        padding-top:1%;
    }
    .form-control small{
        padding: 0 15%;
    }
}