<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    {{> navbar}}
    <div class="container">
        
        <div class="content">
            <h2 >Discover the real</h2>
            <h1>FOOD</h1>
            <p>
                Welcome to Masala Magic, where culinary excellence meets warm hospitality.
                Our restaurant offers a delightful fusion of flavors crafted from the freshest local ingredients.
                 Whether you're enjoying a cozy dinner for two or celebrating with friends and family, 
                our inviting atmosphere and impeccable service promise an unforgettable dining experience. 
            </p>
            <button>Explore more!</button>
        </div>
    </div>
    
    <div class="container2">
        <div class="cate">
            <h1>Categories</h1>
        </div>
        <div class="menu">
            <div class="north">
                <h3>North indian</h3>
                <div class="para">
                    
                    <h4>special:</h4>
                    <p>Butter Chicken,
                       Rogan Josh,
                       Paneer Butter Masala,
                       Palak Paneer
                    </p>
                </div>
            </div>
            <div class="south">
                <h3>South indian</h3>
                <div class="para">
                    
                    <h4>special:</h4>
                    <p>Kerala Chicken Curry,
                        Gobi Manchurian,
                        Chicken Biryani,
                        fish curry
                    </p>
                </div>
            </div>
            <div class="chinese">
                <h3>Chinese</h3>
                <div class="para">
                    
                    <h4>special:</h4>
                    <p>Sweet and Sour Pork,
                        Kung Pao Chicken,
                        Fried Rice,
                        Dumplings
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="offermenu">
        <h1>Offers</h1>
    <div class="menu offers">
       
        <div class="o50">
            <p>50% off for combo offer
                only for this week
             </p>
        </div>
        <div class="o40">

            <p>40% off for South
                indian combo
             </p>
        </div>
        <div class="o25">
             <p>25% off for north 
                indian combo
             </p>
        </div>
        <div class="o10">
             <p>10% off for chinese
                combo
             </p>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="main">
             <h1>Masala</h1>
             <h2>Magic</h2>
        </div>
        <div class="legal">
            <h3>Legal</h3>
            <ul>
                <li>Terms & Conditions</li>
                <li>Cookie Policy</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="contact">
             <h3>Contact us</h3>
             <ul>
                <li>Help & Support</li>
                <li>Partner with us</li>
                <i class="fa-brands fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google"></i>
                <i class="fab fa-instagram"></i>
             </ul>
        </div>
        <div class="quote">
            <p>"Good Food is the foundation </p>
            <p>of Genuine happiness "</p>
        </div>
    </div>
</body>
</html>